{% extends 'base.html' %} 

{% block title %}Login{%endblock%}


{% block msgLogout %}
<div class="alert alert-secondary" role="alert">
    {{session["name"]}} You logged out!
</div>
{% endblock %}


{% block body %}
    <h1>Login</h1>
    <form class="form-inline" action="#" method = "POST">
        <div class="form-group mb-2">
          <label for="staticName" class="sr-only">Name</label>
          <input type="text" readonly class="form-control-plaintext" id="staticName" value="Enter name please:">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputName" class="sr-only">Name</label>
          <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Your Name Here">
        </div>
        <button type="submit" class="btn btn-primary mb-2"> Submit </button>
      </form>
      <script type="text/javascript" src="{{ url_for('static', filename='js/index.js' )}}"></script>
{% endblock %}